#site-title{
    border-radius: 50%;
}
span{
    font-size: 20px;
    font-weight: bold;
}
.row .col-md-6{
    display: inline-block;
    width: 33%;
    
}
.row h3{
    font-size: 25px;
    text-align: center;
}
.row h4{
    text-align: center;
}