#site-title{
    border-radius: 50%;
}
span{
    font-size: 20px;
    font-weight: bold;
}
.row .col-md-6{
    display: inline-block;
    width: 33%;
   
    
}
.row h3{
    font-size: 25px;
    text-align: center;
}
.row h4{
    text-align: center;
}

.hi-icon-effect i {
    font-size: 20px;
    margin-top: 10px!important;
    margin-bottom: 30px;
    color: #fff;
    padding: 20px;
    background: #92DD03;
    border-radius: 50%;
}
p{
    font-size: 12px;
}
#boton{
    background-color:#92DD03;
    border-style: none;
    margin-top: 50px;
    
}
#boton:hover{
    color:#92DD03;
    background-color: white;
    
}
.progress-wrap{
    font-size: 15px;
}

